<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
		 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Fragment>
		<Component Id="HelloWixService" Guid="9f449db2-3e92-40a2-9fa1-c0caff621c6b"
							 Directory="SERVICEFILESDIR">
			<CreateFolder />
			
			<File Id="ServiceExecutable" Name="$(var.HelloWixService.TargetFileName)"
						Source="$(var.HelloWixService.TargetPath)" DiskId="1" Vital="yes" KeyPath="yes"/>
			<ServiceInstall Id="HelloWixServiceInstaller" Type="ownProcess" Vital="yes" Name="hellowix"
											DisplayName="Hello WiX"
							Description="Describes the Hello WiX service." Start="auto" Account="LocalSystem"
											ErrorControl="normal" Interactive="no">
				<!--Configure how the service will behave-->
				<util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart"
														ThirdFailureActionType="restart" RestartServiceDelayInSeconds="20" />
				
				<!--Specify any service dependencies-->
				<!--<ServiceDependency Id="MSSQL$SQLEXPRESS"/>-->
			</ServiceInstall>
			<ServiceControl Id="StartDataPushService" Start="install" Stop="both" Remove="both"
											Name="hellowix" Wait="no" />
		</Component>
	</Fragment>
</Wix>